*{
    margin: 0;
    padding: 0;
  }
  .li{
    padding: 0px 0px 0px 25px ;
    position: relative;
    font-family:Maiandra GD;
  }
  .List-link{
    position: relative;
    top: 6px;
    font-family:Maiandra GD;
    border-radius:2rem;
    padding: 10px 15px;
  }
  .List-link:hover{
    background-color: rgba(252, 4, 4, 0.2);
    transition: 1s;
    border-radius: 5px;
  }
  
.animation-area{
    position: relative;
    bottom: 1rem;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  
.text2{
    position: relative;
    top: 35%;
    font-family:Maiandra GD;
    font-size: 4rem;
    -webkit-text-stroke: 0.3vw;
  }
  .sous_text2{
    position: relative;
    top: 32%;
    font-family: Maiandra GD;
    font-weight: bolder;
    font-size: 2rem;
  }


.footer{
  position: relative;
  height: 6rem;
  width: 100%;
  background-color: black;
  color: whitesmoke;
}
.img_ico:hover{
  transform: scale(1.4);
}
span{
    font-weight: bolder;
}
  