{% extends 'script.html' %}
{% load static %}
{% block main %}
{% include "menuHome.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Colis</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <strong class="text-center mt-2">Colis enregistrées ou disponibles</strong>
            <div class="container mt-2">
                <form class="d-flex mx-1">
                    <input class="form-control me-2" type="search" placeholder="Entrez le mot de passe du colis" name="recherche" autocomplete="off">
                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
                <main class="col-md-12 ms-sm-auto  mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr class="th bg-dark text-white">
                                    <td class="title">Images</td>
                                    <td class="title">Type de colis</td>
                                    <td class="title">Lieu de départ</td>
                                    <td class="title">Ville d'arrivée</td>
                                    <td class="title">Lieu d'arrivée</td>
                                    <td class="title">Expediteur </td>
                                    <td class="title">Destiné à</td>
                                    <td class="title">Montant à payer</td>
                                    <td class="title text-center" colspan="2">Traitement</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for coli in colis%}
                                <tr class="text-dark">
                                    <td><img src="{{coli.image.url}}" class="rounded-circle me-2 circle profil"></td>
                                    <td>{{coli.typeColi}}</td>
                                    <td>{{coli.lieuDepart}}</td>
                                    <td>{{coli.lieuArriver}}</td>
                                    <td>{{coli.villeArriver}}</td>
                                    <td>{{coli.expedi}}</td>
                                    <td>{{coli.desti}}</td>
                                    <td>{{coli.kilo}}</td>
                                    <td class="text-center">
                                        <a class="btn" href="{% url 'update_coli' coli.id %}" role="button"><i class="fas fa-edit" style="color:green;"></i></a>
                                    </td>
                                    <td >
                                        <a class="btn" href="{% url 'delete_coli' coli.id %}" role="button"><i class="far fa-trash-alt" style="color:salmon;"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </main>
        </div> 
        <!--
        <div class="row">
            <strong class="text-center mt-2">Colis rétirées</strong>
            
                <main class="col-md-12 ms-sm-auto  mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr class="th bg-primary text-dark text-center">
                                    <td class="title">Images</td>
                                    <td class="title">Type de colis</td>
                                    <td class="title">Lieu de départ</td>
                                    <td class="title">Lieu d'arrivée</td>
                                    <td class="title">Expediteur </td>
                                    <td class="title">Destiné à</td>
                                    <td class="title">Téléphone</td>
                                    <td class="title">Date d'envois</td>
                                    <td class="title">Description</td>
                                    <td class="title">Code coli</td>
                                    <td class="title" colspan="1">Approuver</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td>Image</td>
                                    <td>Alimentation</td>
                                    <td>RDC</td>
                                    <td>Belgique</td>
                                    <td>Dan</td>
                                    <td>Levy</td>
                                    <td>099600562</td>
                                    <td>2220-09-15</td>
                                    <td>Super</td>
                                    <td>****</td>
                                    
                                    <td>
                                        <a class="btn action" href="" role="button"><i class="fas fa-solid fa-thumbs-up" style="color:green;"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
        </div>-->
    </div>
</body>
</html>
{% endblock main %}