{% extends 'script.html' %}
{% load static %}
{% block main %}
{% include "menuHome.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Colis</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <strong class="text-center mt-2">Message réussie</strong>
                <main class="col-md-12 ms-sm-auto  mt-4">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr class="th bg-dark text-white">
                                    <td class="title">Noms complèle</td>
                                    <td class="title">Email</td>
                                    <td class="title">Sujet</td>
                                    <td class="title">Message</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                <tr class="text-dark">
                                    <td>{{contact.noms}}</td>
                                    <td>{{contact.mail}}</td>
                                    <td>{{contact.sujet}}</td>
                                    <td>{{contact.message}}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </main>
        </div>
    </div>
</body>
</html>
{% endblock main %}