{% extends 'script.html' %}
{% load static %}
{% block main %} 
<head>
    <title>Tableau de bord</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand px-3 text-white logo" href="{% url 'enreg_colis' %}">TRANS EXPRESSES</a>
        <ul class="navbar-nav me-auto list_led">
            <li class="nav-item">
                <span class="led_rouge text-white mt-2"></span> <span class="led_jaune text-white"></span> <span
                    class="led_bleu text-white"></span></a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link active text-white entete_nav" href="{% url 'enreg_colis' %}">
                        <i class="fas fa-home"></i> Tableau de bord
                    </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link active text-white entete_nav" href="{% url 'list_colis' %}"> Liste des colis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white entete_nav" href="{% url 'list_message' %}"> Message client</a>
                </li>
              
            </ul>
            <div class="navbar-nav">
                <div class="nav-item text-nowrap sing-out">
                    <a class="nav-link active text-white px-3 sec" href="{% url 'deconnexion' %}"><i class="fas fa-sign-in-alt"></i> Déconnecter</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock main %}